body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}

button.tag-pill.tag-default {
  border: none;
}

button.tag-pill.tag-default:hover {
  background-color: #687077;
}
