.slate-inline-menu {
  position: absolute;
  top: -10000px;
  left: -10000px;
  padding: 8px 7px 6px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}
