.OverflowWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.Wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;

  &.center {
    justify-content: center;
  }
}
