.app {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: 24px auto;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .app {
    /* padding: 24px; */
    margin: 24px ;
  }
}

/* todo delete */
.card {
  display: flex;
  flex: 1;
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid gray;
  border-radius: 8px;
}
