.slate-eg-menu > * {
  display: inline-block;
}

.slate-eg-menu > * + * {
  margin-left: 15px;
}

.slate-rte-toolbar {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}
