.msg-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  // font-size: 0.238806rem;
  // user-select: none;
  background-color: rgba(100, 100, 100, 0.2);
}

.msg-container .msg-container-body {
  width: 56rem;
  height: 35rem;
  // border-radius: 0.074627rem;
  box-shadow: 0 0 1rem 2rem rgba(100, 100, 100, 0.12);
  background-color: #fff;
}

.msg-container .msg-container-btn {
  // bottom: 4rem;
  // right: 4rem;
  padding: 1rem 2rem;
  // border: 0.029851rem solid #aaa;
  // border-radius: 0.089552rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.msg-container .msg-container-btn:hover {
  box-shadow: 3rem 3rem 6rem rgba(102, 102, 102, 0.5);
  background-color: #bbb;
  border-color: #bbb;
}

.msg-container .msg-container-content {
  max-width: 85%;
  text-align: center;
  word-spacing: 0.5rem;
  // font-size: 0.268657rem;
  // background-color: rgba(200, 200, 200, 0.6);
  color: rgb(85, 22, 22);
  padding: 1rem 3rem;
  // border-radius: 0.059701rem;
}
