.Wrapper {
  position: relative;
  width: 150px;
  margin-bottom: 0.5rem;
  list-style: none;

  &.active {
    .Page {
      background-image: none !important;
      background-color: rgba(230, 230, 230);
    }

    .PageNumber {
      opacity: 0.5;
    }
  }

  &.clone {
    // for item in overlay
    .Page {
      transform: translate3d(10px, 10px, 0) scale(1.025);
      animation: pop 150ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
        0 1px 6px 0 rgba(34, 33, 81, 0.3);
      cursor: grabbing;
    }
  }

  &:hover {
    .Remove {
      visibility: visible;
    }
  }

  &:not(.active, .clone) {
    &.insertBefore,
    &.insertAfter {
      .Page::after {
        // content: '::after';
        content: '';
        position: absolute;
        background-color: #4c9ffe;
      }
    }
  }

  &:not(.vertical) {
    &.insertBefore,
    &.insertAfter {
      .Page::after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }
    &.insertBefore {
      &.clone {
        margin-left: -75px;
      }
      .Page::after {
        left: -9px;
      }
    }
    &.insertAfter {
      &.clone {
        margin-left: 75px;
      }
      .Page::after {
        right: -9px;
      }
    }
  }

  &.vertical {
    &.insertBefore,
    &.insertAfter {
      .Page::after {
        left: 0;
        right: 0;
        height: 8px;
      }
    }
    &.insertBefore {
      &.clone {
        // adjust according to content height
        margin-top: -125px;
      }
      .Page::after {
        // adjust according to content height
        top: -15px;
      }
    }
    &.insertAfter {
      &.clone {
        margin-bottom: 125px;
      }
      .Page::after {
        // adjust according to content height
        bottom: -15px;
      }
    }
  }
}

.Page {
  position: relative;
  display: block;
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(34, 33, 81, 0.15);
  background-color: aliceblue;
  background-size: cover;
  outline: none;
  appearance: none;
  touch-action: none;
  cursor: grab;

  &:focus-visible:not(.active &) {
    box-shadow: 0 0 0 2px #4c9ffe;
  }
}

.Remove {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: rgba(255, 70, 70, 0.9);
  }

  svg {
    fill: #fff;
  }
}

.PageNumber {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  animation: fadeIn 1000ms ease;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: translate3d(0px, 0px, 0) scale(1);
  }
  100% {
    transform: translate3d(10px, 10px, 0) scale(1.025);
  }
}
